<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="meshflux" 
           Manufacturer="OpenMesh" 
           Version="1.0.16" 
           UpgradeCode="F2B44A4B-893A-4B8D-ABAE-2C5CECB60C2A" 
           Language="1033">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="D:\worker\openmesh-cli\openmesh-win\assets\meshflux\logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="meshflux" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File Id="fileOpenMeshWinExe" 
              Source="staging\app\meshflux.exe" 
              KeyPath="yes">
          <Shortcut Id="StartMenuShortcut" 
                    Directory="ProgramMenuFolder" 
                    Name="OpenMesh" 
                    WorkingDirectory="INSTALLFOLDER" 
                    Icon="AppIcon" 
                    Advertise="yes" />
          <Shortcut Id="DesktopShortcut" 
                    Directory="DesktopFolder" 
                    Name="OpenMesh" 
                    WorkingDirectory="INSTALLFOLDER" 
                    Icon="AppIcon" 
                    Advertise="yes" />
        </File>
      </Component>
    </ComponentGroup>

    <Feature Id="MainModule" Title="Main Application" Level="1">
      <ComponentGroupRef Id="MainComponents" />
      <ComponentGroupRef Id="SubDirectories" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="SubDirectories">
      <Component Id="CoreLibs" Guid="6A4A0CBF-9F3A-4B8D-ABAE-2C5CECB60C2A" Directory="LibsDir">
        <File Source="D:\worker\openmesh-cli\openmesh-win\libs\openmesh_core.dll" KeyPath="yes" />
        <File Source="D:\worker\openmesh-cli\openmesh-win\libs\libwinpthread-1.dll" />
      </Component>

      <Component Id="Assets" Guid="7B5B1DCF-0A4B-4C9E-BBAE-3D6DFDC71D3B" Directory="MeshFluxAssets">
        <File Source="D:\worker\openmesh-cli\openmesh-win\assets\meshflux\logo.ico" KeyPath="yes" />
        <File Source="D:\worker\openmesh-cli\openmesh-win\assets\meshflux\mesh_logo_appicon.png" />
        <File Source="D:\worker\openmesh-cli\openmesh-win\assets\meshflux\mesh_off.png" />
        <File Source="D:\worker\openmesh-cli\openmesh-win\assets\meshflux\mesh_on.png" />
        <File Source="D:\worker\openmesh-cli\openmesh-win\assets\meshflux\start_vpn.png" />
        <File Source="D:\worker\openmesh-cli\openmesh-win\assets\meshflux\stop_vpn.png" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <!-- We need to define the tree structure using Directory/Directory elements -->
    <!-- We link it to the previously defined INSTALLFOLDER -->
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="LibsDir" Name="libs" />
      <Directory Id="AssetsDir" Name="assets">
        <Directory Id="MeshFluxAssets" Name="meshflux" />
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
