<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeshFlux.Sys.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MeshFluxIos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MeshFluxMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>vpn_extension_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>vpn_extension_macos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>vpn_extension_macx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B52F9682F23C1E200B4B2BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B52F9792F23C25100B4B2BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69330A4A2F0F648F00882260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>698BF18B2F19E39000BFE4D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A7B2600A1B2C3D4E5F60718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A7B2601A1B2C3D4E5F60718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
